.loading-text {
  font-size: 1.5rem;
}

.user-homepage{
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 5fr; /* 1st row takes a minimum of 10% height */
  grid-template-columns: 2fr 1fr; /* 2 columns */
  height: 100vh; /* 100% of the viewport height */
  gap: 10px;
  padding: 2rem;
  color: var(--text-color);
}

.navbar-section{
  grid-row: 1; /* Navbar spans 1 row */
  grid-column: span 2; /* Navbar spans 2 columns */
}

.post-section {
  grid-row: 2; /* Post spans 1 row */
  grid-column: 1; /* Post spans 1 column */
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profiles-list-section {
  grid-row: 2; /* ProfilesList spans 1 row */
  grid-column: 2; /* ProfilesList spans 1 column */
  margin-top: 200px;
  width: 80%;
  justify-self: flex-start;
}

@media (max-width: 821px) {
  .profiles-list-section {
    width: 30vw;
  }
}
