.friend-requests-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  min-width: max-content;
  background-color: var(--background-color);
}

.friend-requests-container > p {
  font-size: 1rem;
}

.friend-requests-container > div > button {
  font-size: var(--fs-l);
  font-weight: bold;
  color: var(--main-color);
  margin-top: 1rem;
  width: fit-content;
  background-color: transparent;
}