* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  font-size: 16px;
  --fs-xl: 3rem;
  --fs-l: 1.3rem;
  --fs-m: 0.9rem;
  --main-color: white;
  --background-color: black;
  --body-background-color: black;
  --hoveredBtn-background-color: rgba(167, 167, 167, 0.108);
  --white-border: rgba(255, 255, 255, 0.254);
}

@media (max-width: 821px) {
  :root {
    font-size: 10px;
    --fs-xl: 2.5rem;
    --fs-l: 1.3rem;
    --fs-m: 0.5rem;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body-background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border-style: none;
}

button:hover, button:focus {
  outline: none;
  border-style: none;
}

@media (max-width: 821px) {
  body {
    overflow-x: hidden;
  }
}