.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgb(250, 250, 247); 
  box-shadow: 0 0 10px rgb(55, 55, 94);
}

.right-side {
  display: flex;
  gap: 2rem;
}

@media (max-width: 821px) {
  .right-side{
    gap: 0.5rem;
  }
}

.right-side > *, .navbar-username-btn {
  font-weight: bold;
  font-size: var(--fs-l);
  color: var(--main-color);
}

.navbar-profile-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.navbar-profile-pic{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 821px) {
  .navbar-profile-pic{
    width: 3rem;
    height: 3rem;
  }
}

.settings-log-out-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side > button, .friends-icon-btn  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side > button:hover, 
.friends-icon-btn:hover, 
.navbar-username-btn:hover,
.settings-log-out-buttons-container > button:hover, 
.menu-container > button:hover {
  background-color: var(--hoveredBtn-background-color)
}


.navbar-container > button, .right-side > button, 
.friends-icon-btn, .navbar-username-btn,
.settings-log-out-buttons-container > button, 
.menu-container > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.navbar-logo {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-xl);
  font-weight: bold;
  color: var(--main-color);
  transition: transform 0.5s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.05);
}

.log-out-icon, .settings-icon {
  font-weight: bold;
  font-size: 2rem;
  color: var(--main-color);
}

#friends-icon {
  color: var(--main-color);
  font-size: 3rem;
}

@media (max-width: 821px) {
  #friends-icon {
    font-size: 2rem;
  }
}

.friend-requests-list {
  border: 1px solid red;  
  position: absolute;
  background-color: white;
}

.menu-container > button > span{
  font-size: 2rem
}