.profile-list-container > h1 {
  font-size: var(--fs-xl);
  color: var(--main-color);
  font-family: inherit;
}


.profiles-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: white;
  padding: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

.profiles-container > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.profiles-container > div > p {
  font-size: var(--fs-l);
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}

.profiles-container > div > p:hover {
  border-bottom: 2px solid var(--main-color);
}


.profiles-container > div > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid grey;
}