:root {
  --main2-color: #848482;
}

.liked-button {
  color: blue;
}

.list-of-likes, .list-of-comments {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.see-all-comments {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.see-all-comments:hover {
  text-decoration: underline;
}

.create-post-container {
  display: grid;
  border: 1px solid grey;
  border-radius: 10px;
  min-height: 200px;
  max-height: fit-content;
  width: 700px;
  padding: 3px;
  background-color: white;
}

.create-post-container > form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
}

.create-post-container > form > textarea {
  height: 90%;
  padding: 1rem;
  border: none;
  outline: none;
  resize: none;
  font-size: var(--fs-l);
  background-color: white;
}

.post-create-image-container {
  display: flex;
  flex-direction: column;
}

.post-create-image-container > span {
  align-self: flex-end;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.post-create-image-container > span:hover {
  transform: scale(1.1);
}

.post-create-image {
  max-height: 400px;
  width: 100%;
}

.upload-and-image-button-container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.upload-and-image-button-container > label > span {
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;  
}

.upload-and-image-button-container > label > span:hover {
  transform: scale(1.1);
  color: blue;
}


.postBtn {
  background-color: var(--main2-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.postBtn:hover {
  transform: scale(1.05);
}

.disabled-postBtn {
  pointer-events: none;
  opacity: 0.5; 
}

.disabled-postBtn, .postBtn {
  font-weight: bold;
  border: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.6rem;
  border-radius: 5px;
  align-self: flex-end;
}

.postLogo {
  width: 2.5rem;
  height: 2.5rem; 
}

/* single post info style */
.single-post-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 700px;
  border: 2px solid green;
  background-color: white;
  margin-top: 20px;
  min-height: 200px;
  max-height: fit-content;
}

.post-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.post-header > div {
  display: flex;
  flex-direction: column;
}

.post-header > div > p {
  color: rgb(43, 43, 43);
}

.post-delete-button {
  border: none;
  background-color: transparent;
  width: 2.2rem;
}

.post-delete-button > span {
  font-size: 2.1rem;
  color: gray;
  cursor: pointer;
}

.post-delete-button > span:hover {
  color: rgb(222, 4, 4);
}

.like-comment-list-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.like-comment-list-container > button {
  border: none;
  background-color: transparent;
}

.like-comment-list-container > button:hover{
  text-decoration: underline;
}


.post-text {
  word-wrap: break-word;
  font-size: var(--fs-l );
}


.default-like-btn {
  color: white;
}

.like-comment-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  height: fit-content;
}

.like-comment-btn-container > button {
  width: 47%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.like-comment-btn-container > button:hover{
  background-color: rgba(128, 128, 128, 0.293);
}

#like-logo {
  color: blue;
}

.comment-username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.comment-container {
  border-radius: 1rem 2rem 1rem 2rem;
  background-color: rgba(128, 128, 128, 0.211);
  width: max-content;
  height: max-content;
  padding: 1.5rem;
  margin-top: 1rem;
}

.single-comment-header {
  display: flex;
  justify-content: space-between;
}

.single-comment-header > button {
  background-color: transparent;
  border: none;
  margin-left: 1.5rem;
}

.single-comment-header > button > span:hover {
  color: rgb(222, 4, 4);
}

.comment-date {
  margin: -0.5rem 0 1rem 0;
  font-size: 0.8rem;
}

.single-post-picture {
  max-height: 400px;
  width: 100%;
}
